@{
    ViewBag.Title = "Athena API POC";
}

<h2>Athena API Operations Page</h2>

<div>
    <ul>
        <li>@Html.ActionLink("Patients", "Index", "Patient")</li>
        <li>@Html.ActionLink("Appointments", "Index", "Appointment")</li>
    </ul>	
</div>