@model ViewModels.BookAppointmentsFromFileVM

@{
	ViewBag.Title = "BookAppointmentsFromFile";
}

<h2>Create Appointments From File</h2>
<div>
	Files Processed: @Model.NumFilesProcessed
</div>

@section css {
	<link rel="stylesheet" type="text/css" href="~/Content/css/home.css" />
}