
@{
    ViewBag.Title = "Patient Operations";
}

<h2>Patient Operations Page</h2>

<div>
	<ul>
		<li>@Html.ActionLink("Create A Patient", "CreatePatient", "Patient")</li>
		<li>@Html.ActionLink("Search For A Patient", "SearchForPatient", "Patient")</li>
		<li>@Html.ActionLink("Update A Patient", "UpdatePatient", "Patient")</li>
	</ul>
</div>